<nav>
  <div class="nav-item">
    <a href="/#about" class="nav-link">About Us</a>
    <div class="dropdown">
      <a href="/our-vision">Our Vision</a>
      <a href="/board-officers">Leadership</a>
      <a href="/accomplishments">Accomplishments</a>
      <a href="/gallery">Gallery</a>
    </div>
  </div>

  <a href="/calendar" class="nav-link">Calendar</a>
  <a href="/#committees" class="nav-link">Committees</a>

  <div class="nav-item">
    <a href="/#resources" class="nav-link">Resources</a>
    <div class="dropdown">
      <a href="/tenants-rights">Tenant's Rights</a>
      <a href="/safety">Safety</a>
      <a href="/clean-streets">Clean Streets</a>
      <a href="/bergen-arches">Bergen Arches</a>
      <a href="/static/pdf/bylaws.pdf" target="_blank" rel="noopener">Bylaws</a>
      <a href="/static/pdf/boundary_map.pdf" target="_blank" rel="noopener">Boundary Map</a>
    </div>
  </div>

  <div class="nav-item">
    <a href="/membership" class="nav-link">Join Us</a>
    <div class="dropdown">
      <a href="/membership">Individual Membership</a>
      <a href="/membership#business">Business Membership</a>
      <a href="/donate">Donate</a>
    </div>
  </div>
</nav>
