<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/static/css/site.css">
  </head>
  <body>
    <header>
      <img src="/static/img/main_logo.png" />
      {% include navigation.html %}
    </header>
    <main>
      {{ content }}
    </main>
    <footer>
      <div class="content">
        <p><strong>The Journal Square Community Association</strong>. A 501(c)(3) Corporation. Working together to build a better community – Clean, Green, and Safe.</p>
      </div>
    </footer>
  </body>
</html>