<h1>Committees</h1>
    <h2>Clean</h2>
    <p>Aims to ensure that sidewalks, streets, and properties within our boundaries are clean, litter-free, and properly maintained through education and enforcement. </p>
    <p><strong>Chair:</strong> Travis Miscia</p>
    <h2>Communications & Outreach</h2>
    <p>Coordinates communications with the community and members. It also seeks to expand the membership base of JSQCA, with an emphasis on increasing diversity of the membership. </p>
    <p><strong>Chair:</strong> Margaret Doman & George Zalepa</p>
    <h2>Construction & Planning (CAP)</h2>
    <p>Works closely with the city officials, as well as collaborates with developers, to ensure that new construction projects in the neighborhood are optimized to provide the maximum public benefit. </p>
    <p><strong>Chair:</strong> Chris Lamm</p>
    <h2>Green</h2>
    <p>Has a dual focus: parks, including the Bergen Arches, Courthouse Park, and Pavonia/Marion Park, and environmental sustainability. It works closely with the city’s Office of Sustainability and citizens’ groups focused on the environment. </p>
    <p><strong>Chair:</strong> Megan Santosusso</p>
    <h2>History</h2>
    <p>Seeks to engage, educate, and inspire residents about the rich history of Journal Square through speaking series and walking tours. It is the lead organizer for the annual Bergen Square Day. </p>
    <p><strong>Chair:</strong> James Dievler</p>
    <h2>Safety</h2>
    <p>Acting as an intermediary connecting the community members with law enforcement, this committee also spearheads initiatives aimed at enhancing the overall safety of the neighborhood by implementing various projects focused on improving street security measures. </p>
    <p><strong>Chair:</strong> Renee Tirella Cassidy and Mary Miraglia</p>
    <h2>Transportation</h2>
    <p>Advocates for the safety and needs of pedestrians, cyclists, users of mass transportation, and drivers of Journal Square. With a focus on traffic safety, walkability, and public transit access, works closely with the city’s offices of transportation planning and traffic engineering as well as the multitude of transportation agencies serving the community. </p>
    <p><strong>Chair:</strong> Adam Cohen</p>