<h1>Get Involved</h1>
<div>
  <h2>Meetings</h2>
  <p>Meetings are open to the public and are a great opportunity to meet your neighbors, find out what is happening in the community, and have your share your voice. We have also had experts come in to educate residents on topics such as the property revaluation and tenants' rights.</p>
  <p>Guest speakers have included Mayor Steven Fulop, State Senator Brian Stack, county commissioners Bill O’Dea and Yraida Aponte-Lipski, and Councilman Richard Boggiano.</p>
  <p>Meetings are held on the second Monday of every month at 7 PM. </p>
</div>

<div>
  <h2>Individual Membership</h2>
  <p>Membership in the Journal Square Community Association is only $25 per person annually.  Membership affords you a vote in board elections, statements of support or protest being offered by the organization, as well as any other formal votes that occur that impact the direction and affiliations of the organization.  The New JSQ is a registered 501 (c)(3), so membership cost is tax deductible. Membership must be renewed every calendar year.</p> 
  <a href="/membership">Become a member today</a>
</div>

<div>
  <h2>Business Membership</h2>
  <p>Businesses located in the Journal Square area have the opportunity to join JSQCA as members by paying a fee of $100 per business on a yearly basis. By becoming a member, businesses can enjoy various advantages such as networking opportunities, increased promotion for their services or products, active participation in community events, access to meeting updates and essential materials, valuable resources, and the satisfaction of contributing to the enhancement of Journal Square.</p>
  <a href="/business-membership">Become a member today!</a>
</div>

<div>
  <h2>Donate</h2>
  <p>The JSQ Community Association is a registered 501 (c)(3) Non-Profit organization. All money donated goes to the operation and activities of the Association. These costs include sponsored events such as debates and historical walking tours. Also, the Association provides light refreshments at monthly meetings. As well as hosting community social events. Aside from membership dues, the Association has no other revenue streams. Any donation would go a long way toward increasing events, activities and programming that The New JSQ can provide to the community.</p>
  <a href="/donate">Donate today</a>
</div>