<h1>Resources</h1>
    
<h2>Tenant's Rights</h2>
<p>Resources to aid tenants in exercising their rights</p>
<h2>Safety</h2>
<p>Crime prevention, pedestrian & bike safety resources</p>
<h2>Clean Streets</h2>
<p>Resources to help beautify Journal Square</p>
<h2>JSQCA Bylaws</h2>
<p>Learn more about the workings of the JSQCA</p>
<h2>Bergen Arches</h2>
<p>Learn more about the current and future plans for Ward C's soon-to-be largest green space.</p>
<h2>Boundary Map</h2>
<p>Our boundaries are defined by the geographical limits of our community.</p>